<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %5p [%t] %-30.30logger{30} : %m%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.github.semanticgit" level="DEBUG" />

    <logger name="org.eclipse.jgit" level="WARN" />
</configuration>
